<div class="row">
    <h1>Habilidades</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'#212f3c'"
            [showImage]="false"
            [showTitle]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#008abe'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
    </div>
</div>
