<div class="row">   
    <footer>
        <p class="texto-footer"> Hecho por Bruno Daniel Aguirre con mucho 💖 | © Argentina Programa 2022 </p>
        <p class="texto-footer">Caleta Olivia, Argentina </p>
        <div class="contenedor-redes-footer">
            <div class="redes-footer">   
                <a href="https://es-la.facebook.com/Nancaro.B"><img src="../../../assets/facebook.png" id="facebook" alt="Facebook"></a>
                <a href="https://www.instagram.com/nancaro_/"><img src="../../../assets/instagram.png" id="instagram" alt="instagram"></a>
                <a href="https://twitter.com/nancaro_"><img src="../../../assets/twitter.png" id="twitter" alt="twitter"></a>
                <a href="https://www.linkedin.com/in/bruno-aguirre21/"><img src="../../../assets/linkedin.png" id="linkedin" alt="linkedin"></a>
                <a href="https://github.com/Nancaro"><img src="../../../assets/github.png" id="github" alt="github"></a>
            </div>
        </div>
    </footer>
</div>