.row{
    background: #0a2239
}
footer{
    color: #fff;
    font-size:14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(197, 196, 196)
}
.contenedor-redes-footer {
    margin: 0px auto;
    padding-top: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.texto-footer {
    margin: 0px;
    padding-top: 50px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 0em 0em 0.3125em #f2f1f9;
}
.redes-footer {
    margin: 0px auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
img{
    width: 40px;
}