.row {
    padding: 20px;
}
div{
    background-color: #2bc4ff;
    text-align: center;
    
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        
        width: 10%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        border: 10px solid #0a2239; 
        
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 950px;
    }
}
    
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}