<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo AP" id="logoAP">
        </div>
        <div class="redes">   
            
            <a href="http://"><img src="../../../assets/facebook.png" id="facebook" alt="Facebook"></a>
            <a href="http://"><img src="../../../assets/instagram.png" id="instagram" alt="instagram"></a>
            <a href="http://"><img src="../../../assets/twitter.png" id="twitter" alt="twitter"></a>
            <a href="http://"><img src="../../../assets/linkedin.png" id="linkedin" alt="linkedin"></a>
            <a href="http://"><img src="../../../assets/github.png" id="github" alt="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESSION</button>
        </div>
    </div>
</div>

