<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">   
            <h2>Arte e paisagem</h2>
            <p>Proximamente armaré una página/tienda virtual de una floreria en portugués</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"> 
            <img src="../../../assets/ArteEPaisagem.png" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">   
            <h2>Txakur</h2>
            <p>Proximamente armaré una página/tienda virtual de una empresa local que vende comida para perros</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2"> 
            <img src="../../../assets/45507634_324643358347085_1669359766826123264_n.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>